body{
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
hr{
    color: white;
border-width: 2px;
margin-top: 5%;
width: 583px;
position: relative;
left:2.5em;
}
h1,h2,h3,h4,h5{
    color: white;
    
}
h1,h2,h3,h4{
    font-family: 'Bellefair', serif;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
}
p{
    color: aliceblue;
    font-family: 'Bellefair', serif;
    font-size: 16px;
}

/* Header styles  */
.menu{
padding: 0 100px;
}
a.nav-link{
    color:white;
}
ul.navbar-nav{
    background-color: hsla(230, 35%, 7%,0.5);
    
}
 ul.navbar-nav li{
  padding: 0 30px;  
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  line-height: 2.7;
  font-size: 16px;
} 
ul.navbar-nav li span{
    font-weight: 700;
}
.navbar-nav .nav-link{
    padding: 1.5rem;
}
ul.navbar-nav li .active{
    border-bottom: 2px solid white;
}

.navbar-nav .nav-link.active{
    color: white;
   
}

/* Section Title Style */
#title{
    
}
.title{
    text-transform:uppercase ;
}
.title h4{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
}
.title h4 span{
    color:rgba(11, 13, 23, 0.9);
    font-family: 'Bellefair', serif;
    font-weight: 400;
    
}

.carousel-item h4{
    color: white;
    padding-top: 3em;
}
.crew-info{
    /* padding-top: 5em; */
}
.crew-info h2{
    font-size:56px;
    text-transform: uppercase;
}
.crew-info p{
    padding-right: 13em;
}
.carousel-indicators{
    justify-content: left;
}

@media (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: url(../assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* .line {width: 60%;} */

    hr{
        color: white;
    border-width: 2px;
    margin-top: 5%;
    width: 10em;
    position: relative;
    left:1.5em;
    }

    ul.navbar-nav li{
            padding: 0 20px;  
            font-family: 'Barlow Condensed', sans-serif;
            font-style: normal;
            text-transform: uppercase;
            line-height: 1.7;
            font-size: 14px;
          } 

  }
  